<% include ../partials/top %>

<div class="container">

    <h1>Welcome</h1>
    <p>Post your  POSTS  </p>
    <% if(user){%>

    <%} else{%>
        <a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
        <%}%>
    
</div>
<div style="height:900px;width:200;"><d/div>

<% include ../partials/bottom %>