<% include ../partials/top %>

    <div class="card container pb-3 mt-5">
        <form action="/posts" method="post" >
            <h1>ADD POST</h1>
            <div class="form-group">
                <label for="title">Title</label>
                <input name="title" type="text" class="form-control" placeholder="title">
            </div>
            <div class="form-group">
                    <label for="inputStatus">Status</label>
                    <select name="status" id="inputStatus" class="form-control">
                      <option value="public" selected>Public</option>
                      <option value="private">Private</option>
                      <option value="unpublished" >Unpublished</option>
                    </select>

            </div>
            <div class="form-group">
                <label for="textField">What do i do</label><br>
                <textarea name="body" id="" cols="100" rows="5"></textarea>
            </div>
            <div class="form-group form-check">
                <input name="comments" type="checkbox" class="form-check-input" id="comments">
                <label  class="form-check-label" for="comments">Allow Comments </label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script>CKEDITOR.replace('body') </script>
   




    <% include ../partials/bottom %>